body {
    background-image: url(background.jpg);  
    background-size: cover;
    margin: auto;
    width: 1000px; 
    padding: 125px;
}
.container{
    margin: auto;
    height: auto;
    width: 1000px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding: 50px;
    border-radius: 20px 20px 20px 20px;
}

 .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
h1{
    color: lime;
    text-align: center;
}
.button{
    background-color: lime;
    height: auto;
    padding: 10px;
    text-align: center;
}
h2{
text-align: center;
display: inline;
color: white;
}
.hr-style-orange{
    width: 40%;
    margin-left: 0.5px;
    height: 28px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
}
.hr-style-green{
    width: 60%;
    margin-left: 0.5px;
    height: 28px;
    background-color: green;
    border-radius: 5px 5px 5px 5px;
}
.hr-style-red{
    width: 20%;
    margin-left: 0.5px;
    height: 28px;
    background-color: darkred;
    border-radius: 5px 5px 5px 5px;
}














 